.hero.is-primary.is-bold
  .hero-body
    .container
      .title= gettext "Welcome to %{name}!", name: "Phoenix"
      .subtitle A productive web framework that<br />does not compromise speed and maintainability.

.section
  .columns
    .column.is-5.is-offset-1
      .card.has-shadow.is-rounded
        .card-content
          .content
            h4 Resources
            ul
              li
                a(href="http://phoenixframework.org/docs/overview") Guides
              li
                a(href="https://hexdocs.pm/phoenix") Docs
              li
                a(href="https://github.com/phoenixframework/phoenix") Source

    .column.is-5
      .card.has-shadow.is-rounded
        .card-content
          .content
            h4 Help
            ul
              li
                a(href="http://groups.google.com/group/phoenix-talk") Mailing list
              li
                a(href="http://webchat.freenode.net/?channels=elixir-lang") #elixir-lang on freenode IRC
              li
                a(href="https://twitter.com/elixirphoenix") @elixirphoenix
