# This file is for testing Docker images only. Do not run in production!
# Use:
#   docker-compose -f docker-compose.release.yml
---
version: '3'

services:
  hammoc:
    build:
      dockerfile: Dockerfile.release
      context: .
    links:
      - postgresql
    ports:
      - '4000:8080'
    env_file: .env.release

  postgresql:
    image: postgres:11.1-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hammoc_prod
    ports:
      - '5432:5432'

  dgraph:
    image: dgraph/standalone
    restart: always
    ports:
      - '8000:8000'
      - '8080:8080'
      - '9080:9080'
