<div class="section">
  <div class="field">
    <p class="control has-icons-left">
      <input type="email" class="input" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </input>
    </p>
  </div>
</div>
