@charset "utf-8";
/*! bulma.io v0.7.0 | MIT License | github.com/jgthms/bulma */

// UI framework: Bulma
//   -> https://bulma.io/
//   -> https://bulma.io/documentation/overview/variables/
//   -> https://gentlelionstudios.com/blog/how-i-use-bulma-with-the-phoenix-framework

// Bulma Init
// ==========
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";


// Bulma Variable Overrides
// ========================

// Colors
//   -> https://bulma.io/documentation/overview/colors/
$orange: #EC5739;
$green: #1FB56F;
$yellow: #F9CB31;
$primary: $orange;

// Font: Inter UI
@import "inter-ui";
$family-sans-serif: "Inter UI", $family-sans-serif;
$family-primary: $family-sans-serif;


// Bulma Includes
// ==============
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
// @import "bulma/sass/components/breadcrumb.sass";
@import "bulma/sass/components/card.sass";
// @import "bulma/sass/components/dropdown.sass";
@import "bulma/sass/components/level.sass";
// @import "bulma/sass/components/list.sass";
@import "bulma/sass/components/media.sass";
// @import "bulma/sass/components/menu.sass";
// @import "bulma/sass/components/message.sass";
// @import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/pagination.sass";
// @import "bulma/sass/components/panel.sass";
// @import "bulma/sass/components/tabs.sass";
@import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/notification.sass";
// @import "bulma/sass/elements/other.sass";
@import "bulma/sass/elements/progress.sass";
// @import "bulma/sass/elements/table.sass";
// @import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/shared.sass";
@import "bulma/sass/form/input-textarea.sass";
@import "bulma/sass/form/checkbox-radio.sass";
// @import "bulma/sass/form/select.sass";
// @import "bulma/sass/form/file.sass";
@import "bulma/sass/form/tools.sass";
@import "bulma/sass/grid/columns.sass";
// @import "bulma/sass/grid/tiles.sass";
// @import "bulma/sass/layout/footer.sass";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";


// Additional Modifiers
// ====================
.card.has-shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
              0 5px 15px rgba(0, 0, 0, 0.07);
}
