.logo-container {
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
}

.margin-right {
  margin-right: 0.4rem;
}

.results {
  display: flex;
  flex-wrap: wrap;
}

.results .result {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding: 10px;
}
