doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")

    title Hello Hammoc!
    link(rel="stylesheet" href=Routes.static_path(@conn, "/css/app.css"))

  body
    nav.navbar.is-light(role="navigation" aria-label="main navigation")
      .container
        .navbar-brand
          .logo-container
            img(src="/images/hammoc.svg" width="247" height="49")

    - info = get_flash(@conn, :info)
    - error = get_flash(@conn, :error)
    = if info do
      p.notification.is-info(role="alert")= info
    = if error do
      p.notification.is-danger(role="alert")= error

    main(role="main")
      = render @view_module, @view_template, assigns

    script(src=Routes.static_path(@conn, "/js/app.js"))
