<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hello Hammoc!</title>
    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet">
  </head>

  <body>
    <nav aria-label="main navigation" class="navbar is-light" role="navigation">
      <div class="container">
        <div class="navbar-brand">
          <div class="logo-container">
            <a href="/" title="Home">
              <img src="/images/hammoc.svg" width="247" height="49">
            </a>
          </div>
        </div>
        <%= if user = assigns[:user] do %>
          <div class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <%= if image_url = user_display_image_url(user) do %>
                  <figure class="image">
                    <img class="is-rounded" src="<%= image_url %>">
                  </figure>
                <% end %>
                <div style="margin-left: 10px;">
                  <%= user_display_name(user) %>
                </div>
              </div>

              <div class="navbar-item">
                <%= link(to: Routes.user_path(@conn, :account), class: "button") do %>
                  <span class="icon">
                    <i class="mdi mdi-settings"></i>
                  </span>
                <% end %>
              </div>

              <div class="navbar-item">
                <%= link("Log out", to: Routes.user_path(@conn, :sign_out), method: :delete, class: "button") %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </nav>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
